@tailwind base;
@tailwind components;
@tailwind utilities;

/*Animación de flotar para elementos como los iconos*/
@keyframes float {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-10px);}
}
.animate-float { animation: float 2.5s ease-in-out infinite; }




